.Countdown {
  position: relative;
  margin: 15px 0 0;
}

.Countdown-container {
  display: flex;
  justify-content: center;
  border: #dddddd solid 1px;
  border-radius: 5px;
  
  cursor: pointer;
  user-select: none;
}

.Countdown-label {
  display: block;
  padding: 10px;
}

.Countdown-stop:hover {
  background-color: #9C9C97;
  color: #ffffff;
}

.Countdown-record {
  color: #333333;
  padding: 2px 5px;
  line-height: 26px;
  height: 26px;
  margin: 3px;
  border-radius: 3px;
  border: solid 1px #ddd;
  width: 100%;
  font-size: 1rem;
}

.Countdown-submit {
  opacity: 0.2;
  position: absolute;
  right: 8px;
  top: 12px;
}
