.Countdown {
  position: relative;
  margin: 15px 0 0;
}

.Countdown-container {
  display: flex;
  justify-content: center;
  border: #dddddd solid 1px;
  border-radius: 5px;
  
  cursor: pointer;
  user-select: none;
}

.Countdown-start {
  display: block;
  padding: 10px;
}

.Countdown-timer {
  padding: 10px;
}

.Countdown-stop {
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: 0;
  right: -0.5em;
  z-index: 1;
  color: #9C9C97;
  background: #fff;
  font-family: Tahoma,sans;
  line-height: 1rem;
  margin-top: -.7em;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 2em;
  font-size: 1rem;
  text-align: center;
  font-family: Tahoma,sans;
}

.Countdown-stop:hover {
  background-color: #9C9C97;
  color: #ffffff;
}

.Countdown-record {
  color: #333333;
  padding: 2px 5px;
  line-height: 26px;
  height: 26px;
  margin: 3px;
  border-radius: 3px;
  border: solid 1px #ddd;
  width: 100%;
  font-size: 1rem;
}

.Countdown-submit {
  opacity: 0.2;
  position: absolute;
  right: 8px;
  top: 12px;
}